body {
  background-color: #C7C9CF;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Adicionei isso  */
.navbar-custom {
  background: linear-gradient(
    to bottom,
    #8B1C2D 0%,     /* a cor que vc imaginar */
    #8B1C2D 20%,
    #0A1F44 20%,    /* eu acho que é azul */
    #0A1F44 80%,
    #8B1C2D 80%,    /* a cor que vc imaginar */
    #8B1C2D 100%
  );
}

/* tava -35px*/
.navbar-brand img {
  margin-top: -8px;
  width: 400px;
}

.card {
  border: 5px solid #840D30;
  transition: 0.3s;
  background-color: #840D30;
  border-radius: 15%;

}


.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.card-img-top {
  border: 5px solid #840D30;
  border-radius: 15%;
}

.text-custom {
  color: #0A1F44;
}

.btn {
  background-color: #0A1F44; /* Cor de fundo */
  color: white;              /* Cor do texto */
  padding: 10px 20px;       /* Espaçamento interno */
  border: none;              /* Remove borda padrão */
  cursor: pointer;           /* Cursor de clique */
}